@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	box-sizing: border-box;
	background-color: #1B3440;
	color: #F2845C;
}
body * {
	font-family: 'PT Sans', sans-serif;
}

/* TEXT */

h1 {
	font-size: 40px;
}
h3 {
	font-size: 24px;
}
p {
	font-size: 20px;
}
.input {
	height: 25px;
	width: 180px;
	font-size: 18px;
}

/* MESSAGES TO CLIENT */
.hidden {
	visibility: hidden;
}
.message {
	
}
.error {
	color: #BF2845;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;

}
.loginregister :hover {
	color: #B4D6C6;
	cursor: pointer;
}

/* BUTTONS */

/* ALL BUTTON SETTINGS */
.editbutton, .viewbutton, .createbutton, .deletebutton, .logout {
	border-radius: 5%;
	color: black;
	width: 100px;
	height: 30px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 18px;
}
.editbutton, .viewbutton, .createbutton, .deletebutton, .logout, .loginbutton :hover {
	cursor: pointer;
} 
/* SPECIFIC BUTTON SETTINGS */
.editbutton { 
	background-color: #F1F57A;
 }
.viewbutton {
	background-color: #4A849F;
}
.createbutton {
	background-color: lightgreen;
}
.deletebutton {
	background-color: firebrick;
}
.logout {
	background-color: #F2845C;
}
.loginbutton {
	border-radius: 5%;
    height: 20px;
	width: 60px;
	color: #F5F1D5;
	background-color: #4A849F;
}
.loginbutton :hover {
	cursor: pointer;
}